.card_file {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: auto;
}

.login {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("../assets/login.png");
  height: 100vh;
  width: 100vw;
  padding-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 25vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  perspective: 1000px;
  transition: transform 0.6s;
}

.field-checkbox {
  width: 85%;
  display: flex;
  gap: 0.5em;
}

.home {
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100vw;
  height: 90vh;
  padding-top: 3em;
  align-items: flex-start;
}

.ghost {
  height: 100px;
  text-align: center;
}

.m-0 {
  color: #5e2d95;
}
.people {
  /* margin-right: 3em; */
  padding: 0 1em;
}
.lista_pessoas {
  margin-top: 1em;
  height: 100%;
  width: 100%;
}
.file_upload {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
