.divPasta {
  background-color: #f1f2f7;
  transition: background-color 0.3s ease;
  border-radius: 15px;
  height: 170px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: black;
  font-size: 20px;
}

.divPasta > img {
  height: 65%;
  width: 80%;
}
.divPasta:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.4s;
}
.divPasta:not(:hover) {
  transform: scale(1);
  transition: all 0.5s;
}
